* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000;
    color: #fff;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/images/header-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

nav {
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
}

nav .logo {
    width: 150px;
    cursor: pointer;
}

.navMenu {
    display: inline-flex;
}

.language,
.signIn {
    color: #fff;
    border: 0;
    outline: 0;
    width: 100px;
    height: 40px;
    padding: 8px 5px;
    background: red;
    border-radius: 5px;
    cursor: pointer;
}

.language {
    border: 1.5px solid #fff;
    margin-right: 10px;
    background: transparent;
}

.down-icon {
    width: 15px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-content h1 {
    font-weight: 300px;
    font-size: 40px;
}

.formSignIn {
    display: flex;
    margin-top: 20px;
}

.input {
    margin-right: 10px;
    border: 0;
    outline: 0;
    width: 300px;
}

.submit {
    border: 0;
    width: 100px;
    outline: 0;
    background: red;
    color: #fff;
    cursor: pointer;
}

.submit:hover {
    background-color: #e50914;
}

.input,
.submit {
    height: 40px;
    border-radius: 5px;
    padding: 5px 8px;
}

/* <----------feature---------> */

.feature {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 10%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.col-content {
    flex-basis: 50%;
    margin-bottom: 20px;
    text-align: center;
}

.col-content p {
    font-size: 18px
}

.col-image {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.col-image img {
    display: block;
    width: 100%;
}

/* -----------faq------------- */

.faq {
    width: 100%;
    margin: 60px auto;
    max-width: 650px;
    text-align: center;
}

.accordion {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.accordion label {
    display: flex;
    justify-content: left;
    background: #303030;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

label::after {
    content: "+";
    position: absolute;
    right: 20px;
    font-weight: 900;
    font-size: x-large;
    margin-top: -7px;
    transition: transform 0.5s;
}

.accordion .anwser {
    margin-top: 5px;
    background: #303030;
    max-height: 0;
    padding: 0 20px;
    text-align: left;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion input[type="radio"]:checked+label+.anwser {
    margin-bottom: 5px;
    max-height: 650px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.faq .formSignIn {
    justify-content: center;
    margin-top: 20px;
}

hr {
    border: 0;
    border-radius: 5px;
    height: 3px;
    background-color: #303030;
    margin: 0px 5px;
}

/* ---------footer--------- */
footer {
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;

}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /*không làm cho các link tự kéo dài ra vì mặc định của flex là strech(tự động kéo dài hết chiều rộng của container) */
}

.footer-content p,
.footer-links a {
    color: #303030;
}

.footer-links a {
    text-decoration: none;
    width: auto;
    display: inline-block;
    margin-top: 5px;
}

.footer-links a:hover {
    color: #fff;
}

.footer-links,
.language-select,
.footer-content p {
    margin-top: 10px;
}

.copyright {
    font-size: 14px;
    margin-top: 10px;
    color: #303030;
}

/* ----------responsive----------- */

@media only screen and (max-width: 768px) {
    nav .logo {
        width: 100px;
    }

    .language,
    .signIn {
        width: 80px;
        font-size: 14px;
    }

    .header-content h1 {
        font-size: 24px;
        padding: 0 10px;
    }

    .header-content p {
        font-size: 14px;
    }

    .formSignIn .input {
        width: 200px;
        height: 30px;
        font-size: 14px;
    }

    .formSignIn .submit {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    .row .col-content,
    .row .col-image {
        flex-basis: 100%;
        /*tại sao không dùng width 100% mà dùng flex-basis 100% vì flex-basis là thuộc tính của flexbox, nó sẽ chiếm 100% trong container flex. Nếu dùng width 100% thì sẽ không còn tính linh hoạt của flexbox nữa, và có thể gây ra các vấn đề về bố cục khi thay đổi kích thước màn hình.*/
    }

    .feature .row:nth-child(even) {
        flex-direction: column-reverse;
    }

    .col-content h1 {
        font-size: 24px;
    }

    .col-content p {
        font-size: 14px;
    }

    .faq {
        width: 90%;
        margin: 20px auto;
    }

    .faq h1 {
        font-size: 24px;
    }

    .accordion label {
        font-size: 14px;
    }

    .accordion .anwser {
        font-size: 14px;
    }

    .footer-content {
        font-size: 14px;
    }
}